#card-container {
	display: flex;
	flex-wrap: wrap;
	background-color: red;
	justify-content: flex-start;
}	


.card {
	border: 3px solid black;
	margin: 10px auto;
	/*flex-grow: 0;*/
	/*flex-shrink: 0;*/
	flex-basis: 15%;
	/*flex-basis: 100px;*/

}

.discounted {
	visibility: hidden;
	color: yellow;
}